
<div nz-row nzType="flex" nzJustify="center" class="log-body">
  <div nz-col nzSpan="22">
    <nz-tabset>
      <nz-tab nzTitle="系统日志">
            <div nz-row nzType="flex"  nzJustify="center">
              <div nz-col nzSpan="3">
                 <div class="leftbox"><!--左侧选择框-->
                    <h5>日志选择</h5>
                    <div class="listbox">
                        <nz-collapse nzAccordion ><!--日期列表-->
                          <nz-collapse-panel *ngFor="let row1 of list" [nzHeader]="row1.name" >
                              <nz-dropdown [nzTrigger]="click" *ngFor="let row2 of row1.list"><!--第几次构建的日志-->
                                  <a nz-dropdown > 第{{row2}}次构建<i nz-icon type="down"></i> </a>
                                  <ul nz-menu nzSelectable>
                                    <li nz-menu-item>
                                      <a (click)="updatelogtext(row1.name, row2, 'error.log')">error.log</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a (click)="updatelogtext(row1.name, row2, 'warning.log')">warning.log</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a (click)="updatelogtext(row1.name, row2, 'info.log')">info.log</a>
                                    </li>
                                  </ul>
                                </nz-dropdown>
                          </nz-collapse-panel>
                      </nz-collapse>
                    </div>
                 </div>
              </div>
              <div nz-col nzSpan="21">
                  <div id="textbox"><!--文本框-->
                    <h5>{{filename}}</h5>
                      <li class="text" *ngFor="let rows of logtext">{{rows}}</li>
                  </div>
              </div>
            </div>
      </nz-tab>
      <nz-tab nzTitle="操作记录">
      <div style="background-color:#fff">
        <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="true" [nzData]="orelogs" [(nzPageIndex)]="pageIndex" 
        [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData()">
          <thead>
            <tr>
              <th>日志ID</th>
              <th>操作时间</th>
              <th>用户名</th>
              <th>操作模块</th>
              <th>操作内容</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ajaxTable.data">
              <td>{{data.logid}}</td>
              <td>{{data.logtime.substring(0, data.logtime.length-10)}}</td>
              <td>{{data.admin}}</td>
              <td>{{data.module}}</td>
              <td>{{data.logsql}}</td>
            </tr>
          </tbody>
        </nz-table>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</div>

