.listbox{
    height: 500px;
    border-radius: 4px;
    margin-bottom: 20px;
}
#timesbox{

}
#textbox{
    min-height: 500px;
    background-color: white;
    border: 1px solid rosybrown;
    padding: 10px 1px;
    margin: 0px 10px 20px 10px;
}
.log-body{
    background-color: #CDDC39; 
}
.leftbox{
 
}
a{
    display: block;
}
.text{
    border-left: 3px solid #6CE26C;
    border-left: 3px solid #6CE26C;
    padding: 0 3px 0 10px;
    line-height: 22px;
    font-size: 1.1em;
    font-weight: 600;
    color: inherit;
    background-color: #FFF;
}
.text:nth-child(even){
    background-color: #F8F8F8;
}
