
<div nz-row nzType="flex" nzJustify="center" class="log-body">
  <div nz-col nzSpan="22">
    <nz-tabset>
      <nz-tab nzTitle="系统日志">
            <div nz-row nzType="flex"  nzJustify="center">
              <div nz-col nzSpan="3">
                 <div class="leftbox"><!--左侧选择框-->
                    <h5>日志选择</h5>
                    <div class="listbox">
                        <nz-collapse nzAccordion ><!--日期列表-->
                          <nz-collapse-panel *ngFor="let row1 of list" [nzHeader]="row1.name" >
                              <nz-dropdown *ngFor="let row2 of row1.list"><!--第几次构建的日志-->
                                  <a nz-dropdown> 第{{row2}}次构建<i nz-icon type="down"></i> </a>
                                  <ul nz-menu nzSelectable>
                                    <li nz-menu-item>
                                      <a>error.log</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a>warning.log</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a>inof.log</a>
                                    </li>
                                  </ul>
                                </nz-dropdown>
                          </nz-collapse-panel>
                      </nz-collapse>
                    </div>
                 </div>
              </div>
              <div nz-col nzSpan="21">
                  <div id="textbox"><!--文本框-->
                    <h5>{{filename}}</h5>
                      <li class="text" *ngFor="let rows of logtext">{{rows}}</li>
                  </div>
              </div>
            </div>
      </nz-tab>
      <nz-tab nzTitle="操作记录">
        Content of Tab Pane 2
      </nz-tab>
    
    </nz-tabset>
  </div>
</div>


