.title{
    color: #009688;
    margin: 20px;
}

.mainbox{
    border-radius: 2px;
    height: 800px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.29);
    background-color: #ffffff;
    margin-bottom: 20px;
}
.opn-name{
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(95, 95, 95);
    line-height: 30px;
}
#log-type{
    margin: 15px;
    width: 120px;
}
.select-row{
    margin-left: 20px;
}
.table-body{
    padding: 1px;
}
body{
    background-color: aqua;
}
.ant-table-pagination.ant-pagination {
    float: right;
    margin: 16px 30px;
}
.ant-pagination {
    margin-right: 30px;
}
.pagebox{
    margin: 30px 20px 3px 10px;
    /* float: right; */
    text-align: center;
}